.card1 .card-body {
  background-color: rgba(255, 0, 141, 0.23);
  color: rgba(255, 0, 141, 1);
}

.card3 .card-body {
  background-color: rgba(255, 0, 141, 0.23);
  color: rgba(255, 0, 141, 1);
}

.card2 .card-body {
  background-color: rgba(194, 255, 0, 0.57);
  color: rgba(89, 198, 27, 1);
}

.card4 .card-body {
  background-color: rgba(194, 255, 0, 0.57);
  color: rgba(89, 198, 27, 1);
}
